.nav {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  opacity: 100%;
}

.nav__link:hover {
  opacity: 50%;
  transition: opacity 1s ease-in-out 2s;
}

.nav__links {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.nav__logo {
  position: relative;
  left: -50px;
  height: 39px;
  width: 105px;
}
