@import url(../vendor/normalize.css);
@import url(../blocks/pages.css);
@import url(../blocks/header.css);
@import url(../blocks/nav.css);
@import url(../blocks/recipes.css);
@import url(../blocks/reservation.css);
@import url(../blocks/form.css);

.menu {
  padding: 100px 0 100px;
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-size: cover;
  background-position: center;
}

.menu__title {
  text-align: center;
  margin: 0 0 24px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  text-align: center;
  margin: 0 0 100px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.card {
  width: 540px;
}

.card__title {
  margin: 0 0 32px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__list-item {
  display: flex;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 16px;
  line-height: 20px;
}

.card__list-divider {
  border-bottom: 1px solid black;
  flex-grow: 1;
}

.about {
  background-color: #0a2850;
  z-index: -1;
}

.about__title {
  padding: 100px 0 0 80px;
  max-width: 251px;
  color: #fff;
  z-index: 1;
}

.about__content {
  display: flex;
  z-index: 2;
}

.about__paragraph {
  display: flex;
  flex-direction: column;
  color: #fff;
  max-width: 660px;
  z-index: 3;
}

.about__paragraph_1 {
  margin: 0 0 20px;
}

.about__circle {
  width: 426px;
  height: 426px;
  border-radius: 50%;
  background-color: #1878dc;
  position: absolute;
  z-index: 0;
}
